<mat-card>
  <div class="balance_card">
    <div class="balance_card_info">
      <span class="balance_card_info_area"><fa-icon class="balance_card_info_icon" [icon]="icons.getIcon('sbis')"></fa-icon></span>
      <span>На счёте: </span>
      <span class="balance_card_info_sum"
            [class.negative]="billingAccount?.debit <= 0">
        {{billingAccount ? billingAccount.debit : 0}}
      </span>
    </div>
    <div class="balance_card_fill">
      <button mat-button (click)="onFillAccountClicked()">
        <fa-icon [icon]="icons.getIcon('add')"></fa-icon>
        &nbsp; Пополнить
      </button>
    </div>
  </div>
  <div class="table-container">
    <h3>Запросы клиента на пополнение счета</h3>
    <table mat-table [dataSource]="billingAccount ? billingAccount.activeBillingOrders : []">
      <ng-container matColumnDef="createdAt" class="type-column">
        <th mat-header-cell *matHeaderCellDef> Дата </th>
        <td mat-cell *matCellDef="let element"> {{moment(element.created).format('DD.MM.YYYY HH:mm')}} </td>
      </ng-container>
      <ng-container matColumnDef="orderSum">
        <th mat-header-cell *matHeaderCellDef> Сумма, руб. </th>
        <td mat-cell *matCellDef="let element" class="price-rub"> {{ element.sum.toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="processOrder">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button matTooltip="Пополнить счет клиента" (click)="onProcessOrderClicked(element, $event)">
            <fa-icon [icon]="icons.getIcon('sbis')"></fa-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="cancelOrder">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button matTooltip="Отменить запрос" (click)="onCancelOrderClicked(element, $event)">
            <fa-icon [icon]="icons.getIcon('close')"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['createdAt', 'orderSum', 'processOrder', 'cancelOrder']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['createdAt', 'orderSum', 'processOrder', 'cancelOrder']"></tr>
    </table>
  </div>
</mat-card>

