@import "src/settings";

.balance_card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .balance_card_info_area {
    height: 30px;
    width: 35px;
    display: inline-block;
    margin-right: 5px;
  }

  .balance_card_info_sum {
    margin: 0 10px;
    color: #0c733a;
  }

  .balance_card_info_sum.negative {
    color: #ac2432;
  }

  .balance_card_info_sum:after {
    content: "\20BD";
    color: #677980;
    margin-left: 5px;
  }

  .balance_card_info_icon {
    color: #c1c1c1;
    margin-right: 10px;
  }

  .mat-button {
    font-weight: normal;
    font-size: 14px;
    min-width: 150px;
    padding: 0 10px;
    border: 1px solid #00000010;
    border-radius: 3px;

    icon {
      margin: 0 4px 0 0;
    }

    background: rgb(68, 163, 109);
    background: linear-gradient(166deg, rgba(68, 163, 109, 1) 0%, rgba(12, 115, 58, 1) 99%);
    color: white;
  }

}

.table-container {
  margin: 1px 0 20px 0;

  table {
    width: 100%;

    .mat-header-row {
      background-color: $bgColorOfTableHeader;

      th.mat-header-cell {
        border-bottom: 0;
      }
    }
  }
}

.price-rub:after {
  content: "\20BD";
}
