<mat-card>
  <ui-form #form
           [config]="formConfig"
           (clickSave)="save($event)"
           [showCancel]="true"
           (clickCancel)="cancel()">
    <div>
      <h2>Позиции заказа</h2>
    </div>
    <app-edit-order-positions
      [orderPositions]="orderPositions"
      [bottlePrices]="bottlePrices"
      [orderId]="orderIdSbj"></app-edit-order-positions>
    <div class="return-bottles">
      <h2>Возврат пустых баллонов</h2>
      <button mat-stroked-button color="primary" (click)="onButtonReturnAllClicked()">Вернуть все</button>
    </div>
    <app-edit-order-return-bottles
      [currentCustomerIdSbj]="currentCustomerIdSbj"
      [buttonReturnAllSbj]="buttonReturnAllSbj"
      [orderReturnBottles]="orderReturnBottles"
      [orderId]="orderIdSbj"></app-edit-order-return-bottles>
  </ui-form>

</mat-card>





