@import "src/settings";

.mat-progress-bar {
  height: 2px;
  width: calc(100% - 1px);
}
.table-container {
  margin: 1px 0 20px 0;
  table {
    width: 100%;
    .mat-header-row {
      background-color: $bgColorOfTableHeader;
    }
    th.mat-header-cell {
      border-bottom: 0;
    }
    th.type-column {
      width: 20%;
    }
    th.debit-column {
      width: 15%;
    }
    th.price-column {
      width: 15%;
    }
    th.quantity-column {
      width: 30%;
    }
    th.cost-column {
      width: 20%;
    }
    tr.mat-footer-row {
      font-weight: bold;

      .totalQty {
        justify-content: center;
        text-align: center;
      }
    }

    a.bottle-type {
      text-decoration: none;
      color: black;
    }

    td.actual.highlight {
      background-color: #e8f7df;
    }
    td.lost.highlight {
      background-color: #f7dfdf;
    }

  }
}

.price-rub:after { content:"\20BD"; }


.empty-message {
  width: 100%;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px 0;
  text-align: center;
}

.mat-button.plus-minus {
  padding: 0;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: normal;
  color: #ccc;
  margin: 0 3px;
}


.buttons {
  margin: 10px auto;
  flex-direction: row;
  > * { margin: 5px; }
  .mat-button {
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    min-width: 120px;
    padding: 3px 10px;
    border: 1px solid #00000020;
    background: transparent;
  }
  button.confirm {
    border: none;
    color: #ffffff;
    border: 1px solid #0e2471;
    background: #0e2471;
    background: linear-gradient(0deg, #152f8d 0%, #0e2471 100%);
  }


}

@import "src/settings";
@media screen and (max-width: $mobileViewWidth) {
  .show-empty {
    justify-content: center;
    display: flex;
  }
}
